html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    user-select: none;
    position: relative;
  }

  .background-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;   
    background: linear-gradient(120deg, #4d9c55 55%, #599e85 100%);
    overflow: hidden;
  }
  
  section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    scroll-snap-align: start; 
  }

  .titles {
    box-shadow: 0 0 7px rgba(255, 255, 255, 1);
    border-radius: 999px;
    padding: clamp(10px,2vw,24px);
    background-color: rgba(255, 255, 255, 0.25);
    color: white; 
    backdrop-filter: blur(5px);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.45s ease-out;
  }

  .titles:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .para{
    position: relative;
    line-height: 1.2; 
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }

  h1#mainTitle {
    position: absolute;
    left:8vw;
    top: 100px;
    font-size: clamp(24px, 4vw, 56px);   
  }

  div#mainBio {
    position: absolute;
    top: 40vh;
    left: 8vw;
    font-size: 2.6vw;
    max-width: 50vw;
  }
  
  #image1 {
    position: absolute;
    top: 45%;
    left: 60vw;
    transform: translateY(-50%);
    width: 430px;
    height: 700px;
    border-radius: 10%; 
    overflow: hidden;        
    box-shadow: 0 0 7px rgba(0,0,0,1); 
    z-index: -1;
  }
  
  #image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1000;
  }
  
  .hamburger {
    background-color: rgb(71, 174, 86); 
    border-radius: 999px;   
    padding: 10px 25px;       
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    box-shadow: 0 0 3px rgb(199, 199, 199);
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .hamburger:hover {
    background-color: rgba(98, 195, 111, 1); 
  }
  
  .dropdown {
    display: none;
    flex-direction: column;
    background-color: rgba(98, 195, 111, 0.9);
    border-radius: 8px;
    margin-top: 10px;
    text-align: right;
  }
  
  .dropdown a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background 0.1s;
  }
  
  .dropdown a:hover {
    background-color: rgba(98, 195, 111, 0.9);
    border-radius: 8px;
  }

  .dropdown{
    background-color: rgb(71, 174, 86);
  }

  .dropdown a{
    padding:0.3rem 0.4rem;
    background-color: rgb(71, 174, 86);
    transition: background 0.1s;
    color: white;
    border-radius: 10px;
  }

  .dropdown a:hover {
    background-color: rgba(98, 195, 111, 0.9);
  }

  h2{
    position: absolute;
    left: 2vw;
    top: -30px;
    font-size: clamp(14px,2vw,32px);
    text-align: left;
    margin-left: 2vw;
  }

  section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
  }

  .aboutpara{
    line-height: 1.2;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: black;
    text-shadow: none;
    height:79vh;
    margin: 6vw 5vw 1vw 5vw;
    font-size: clamp(13.65px,2vw,22px);
  }

  #para1{
    margin-top: 0;
  }

  .image-group {
    display: flex;             
    border: 2px solid #ccc;   
    padding: 0.3rem;
    border-radius: 10px;    
    gap: 2px;                 
    background-color: #f9f9f9;  
    width: fit-content;       
    margin-top: 0.8vw;
  }
  
  .image-group img {
    height: clamp(90px,15vw,240px);          
    border-radius: 8px;         
  }

  #work {
    padding: 3vh 3vw;
  }
  
  #work h2 {
    text-align: center;
  }
  
  .job-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    font-size: clamp(1rem, 3vw, 2rem);
    box-sizing: border-box;
    width: 100%;
    height: 75%;
    margin-top: clamp(45px, 10vw, 140px);
  }
  
  .job {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .job:hover {
    transform: translateY(-10px);
  }
  
  .job h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #000;
    font-size: clamp(1.2rem, 4vw, 2rem);
  }
  
  .job .company {
    font-weight: bold;
    color: #555;
    margin: 0.5rem 0;
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  }
  
  .job .description {
    color: #333;
    font-size: clamp(0.7rem, 1.8vw, 1.2rem);
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 0.5rem;
    font-size: clamp(1rem, 3vw, 2rem);
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    margin-top: 40px;
  }

  .project-grid a {
    display: block;
    height: 100%;
    text-decoration: none; 
    color: inherit;       
  }
  
  .project {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .project-large{
    grid-column: span 2;
  }
  
  .project:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }
  
  .project h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #000;
    font-size: clamp(1.2rem, 4vw, 2rem);
  }
  
  .project .language-date {
    font-weight: bold;
    color: #555;
    margin: 0.5rem 0;
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  }
  
  .project .description {
    color: #333;
    font-size: clamp(0.7rem, 1.8vw, 1.2rem);
  }

  .project-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .prof{
    margin:0;
    font-weight: bold;
  }

  #contact{
    height:60vh;
  }

  #socialMessage{
    position: absolute;
    left: 2vw;
    top: clamp(50px,10vw,100px);
    font-size: clamp(14px,2vw,32px);
    text-align: left;
    margin-left: 2vw;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8rem;
    justify-items: center;
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .icons a {
    color: white;
    font-size: 6rem;     
    text-decoration: none;
  }
  
  .icons a:visited,
  .icons a:active,
  .icons a:hover {
    color: white; 
  }

  #getInTouch{
    top:8vh;
  }

  #workExperience{
    top:2vh;
  }
  
  @media (max-width: 1024px) {
    .home-section {
        position: relative;
    }
    
    .content-left {
        align-items: left;
        text-align: left;
        padding-right: 0;
        margin-bottom: 2rem;
    }
    
    div#mainBio {
        text-align: left;
        line-height: 1.6;
        left: 8vw;
        top: 40vh;
        font-size: clamp(22px,1.9vw,36px);
    }
    
    h1#mainTitle {
        font-size: 40px;
        padding: 1.5rem;
        left:8vw;
        font-size: 4vw;
    }
    
    #image1 {
        width: 350px;
        height: 550px;
    }
    
    .emailButton {
        font-size: 28px;
        padding: 20px 35px;
        left:10vw;
        font-size: 3vw;
    }

    #projectTitle{
      top:3vh;
    }
}

@media (max-width: 768px) {
    .job-grid{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none;
        height: 100%;
    }

    .job h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
        color: #000;
        font-size: clamp(1.2rem, 3.4vw, 1.6rem);
    }
      
      .job .company {
        font-weight: bold;
        color: #555;
        margin: 0.5rem 0;
        font-size: clamp(0.9rem, 1.7vw, 1.25rem);
    }
      
      .job .description {
        color: #333;
        font-size: clamp(0.7rem, 1.2vw, 0.8rem);
    }

      .job:hover {
        transform: translateX(10px);
    }
    
    #work h2 {
        text-align: center;
        margin-top: 0;
    
    }

    h1#mainTitle {
        font-size: 5vw;
        padding: 0.5rem;
        position: absolute;
        top: 5vw;
        left: 8vw;
    }
    
    div#mainBio {
        font-size: clamp(19px,2.8vw,20px);
        top: 22vw;
        left: 8vw;
        text-align: left;
        max-width: 90vw;
        margin-bottom: 1.2em;
    }

    #home img {
        position: absolute;
        left: 50%;
        top: 255px;
        transform: translateX(-50%);
        height: clamp(480px, 50vw, 550px);
        width: clamp(300px, 30vw, 350px);
    }
    
    .emailButton {    
        position: absolute;
        top: 680px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3.5vw;
        padding: 1vw 2vw;
    }

    .hamburger {
        font-size: 1.2rem;
        padding: 5px;
    }

    .dropdown{
        background-color: rgb(71, 174, 86);
    }

    .dropdown a{
        padding:0.3rem 0.4rem;
        font-size: 14px;
        background-color: rgb(71, 174, 86);
        transition: background 0.1s;
        color: white;
        border-radius: 10px;
    }

    .dropdown a:hover {
        background-color: rgba(60, 152, 72, 0.9);
    }
    
    #about {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .project-grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: none;
      gap: 0.5rem;
      font-size: clamp(1rem, 3vw, 2rem);
      box-sizing: border-box;
      width: 100%;
      height: 80%;
      margin-top: 40px;
    }

    .project-large{
      grid-column: span 1;
    }

    .icons{
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .icons a{
      font-size: 4rem;
    }

    #workExperience{
      top:-1.5vh;
    }
}
